<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importa o CSS externo -->
    <link rel="stylesheet" href="../css/stylesheet.css">
    <!-- Importa o Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <!-- Importa o JS externo -->
    <script src="../js/script.js"></script>

    <title>Global Solution: Página 1</title>
</head>
<body id="bodypag1">
     <header> <!-- Título, banner e barra de navegação -->
        <div id="banner">
            <h1 id="title">Global<br>Solution</h1>
        </div>
        <div id="nav">
            <a href=></a>
            <a href="../index.html">🏠 Voltar a página principal</a>
            <a href="./pag2.html">A Ameaça da Fome<br>em Ascensão  ➡</a>
        </div>
    </header>
        <div class="post" id="postpag">
                <h2>
                    Combater a fome: Um chamado à solidariedade
                </h2>
                <p>
                    A fome assola nosso mundo e afeta milhões de vidas diariamente. Apesar dos avanços tecnológicos e da abundância de recursos em praticamente todas as coisas, ainda vivemos em um planeta onde a fome persiste como uma realidade trágica. Nesta página, mergulharemos nos dados alarmantes sobre a fome e exploraremos como essa questão pode ser enfrentada de forma eficaz.
                    <br><br>
                    A luta contra a fome requer esforços coletivos e coordenados em níveis local, nacional e global. É necessário promover a conscientização e o entendimento sobre a gravidade da fome e suas causas subjacentes. A educação desempenha um papel fundamental para capacitar as pessoas a tomar medidas informadas e buscar soluções sustentáveis.
                    <br><br>
                    Além disso, é essencial que governos, organizações internacionais, setor privado e sociedade civil se unam para implementar políticas e programas eficazes de segurança alimentar. Isso inclui investimentos na agricultura sustentável, promoção de práticas agrícolas resilientes, distribuição equitativa de recursos, fortalecimento de sistemas de saúde e nutrição, e promoção de medidas de proteção social para os mais vulneráveis.
                </p>
                <h3>
                    Fatos Alarmantes
                </h3>
                <!-- Carrossel, relacionado a função "carousel" -->
                <div class="carousel" id="carousel1">
                    <button onclick="carousel(1,false)" class="carouselButton" id="carousel1back">🡄</button>
                    <p class="carouselItemOn" id="carousel1item1">
                    Mais de 146 milhões de crianças menores de 5 anos sofrem de desnutrição crônica, comprometendo seu crescimento e desenvolvimento. 
                    </p>
                    <p class="carouselItemOff" id="carousel1item2">
                    A fome afeta desproporcionalmente as mulheres, que muitas vezes enfrentam dificuldades em obter uma nutrição adequada durante a gravidez e a amamentação.
                    </p>
                    <p class="carouselItemOff" id="carousel1item3">
                    Também não está apenas ligada à falta de alimentos, mas também é influenciada por fatores como pobreza, desigualdade, conflitos armados e mudanças climáticas.
                    </p>
                    <button onclick="carousel(1,true)" class="carouselButton" id="carousel1next">🡆</button>
                </div>
                <h3>
                    O Poder da Solidariedade Humana
                </h3>
                <p>
                    Sabemos que a fome é um desafio global que exige uma resposta de todos. Todos nós podemos contribuir para acabar com a fome, seja por meio de doações para organizações humanitárias, advocacia por políticas alimentares justas ou participando de iniciativas de voluntariado. Juntos, podemos fazer a diferença e proporcionar um futuro melhor para aqueles que enfrentam a fome diariamente.
                    <br><br>
                    A solidariedade humana desempenha um papel crucial na luta contra a fome, uma das questões mais urgentes que enfrentamos em nosso mundo atual. A fome afeta milhões de pessoas em todo o globo, levando à desnutrição, à fraqueza física e a uma série de problemas de saúde graves. É um problema complexo e multifacetado, mas através da solidariedade, podemos desempenhar um papel significativo na erradicação da fome.
                    <br><br>
                    É a capacidade de nos conectarmos emocionalmente com a dor e o sofrimento dos outros, e de agir em resposta a essas necessidades. Quando nos solidarizamos com aqueles que sofrem de fome, reconhecemos que a fome não é apenas um problema deles, mas uma responsabilidade coletiva. Compreendemos que todos os seres humanos têm direito a uma alimentação adequada e que somos todos interdependentes em nossa busca por uma sociedade justa e equitativa.
                    <br><br>
                    Também, a solidariedade humana nos permite desenvolver empatia e compreensão pelos outros, superando divisões sociais e culturais. Quando reconhecemos que a fome não conhece fronteiras ou diferenças, somos capazes de construir pontes entre diferentes comunidades e trabalhar juntos para alcançar soluções duradouras. A solidariedade nos lembra que somos todos parte de uma família humana e que é nosso dever cuidar uns dos outros.
                    <br><br>
                    Em resumo, a solidariedade humana é fundamental na luta contra a fome. Ela nos motiva a aprender, agir, defender e unir forças para enfrentar esse desafio global.
                </p>
                <h3>
                    A Fome em Números
                </h3>
                <!-- Outro carrossel, relacionado a função "carousel" -->
                <div class="carousel" id="carousel2">
                    <button onclick="carousel(2,false)" class="carouselButton" id="carousel2back">🡄</button>
                    <p class="carouselItemOn" id="carousel2item1">
                    690 milhões de pessoas: Esse é o número de indivíduos que sofrem com a fome em todo o mundo. Imagine uma população do tamanho de um continente inteiro enfrentando uma batalha diária pela sobrevivência.
                    </p>
                    <p class="carouselItemOff" id="carousel2item2">
                    23,2% das crianças: Quase um quarto das crianças menores de 5 anos em países em desenvolvimento estão subnutridas. Essa estatística chocante nos lembra do impacto devastador da fome em gerações futuras.
                    821 milhões de pessoas subnutridas: Essa é a cifra angustiante de pessoas que não recebem calorias suficientes para atender às suas necessidades diárias. Elas vivem uma realidade de escassez e incerteza constante.
                    </p>
                    <button onclick="carousel(2,true)" class="carouselButton" id="carousel2next">🡆</button>
                </div>
                <p>
                    Portanto, entendemos que a fome é um problema urgente que não pode ser ignorado. Ao explorarmos os dados sobre a fome e nos conscientizarmos de sua gravidade, somos incentivados a agir. Cada um de nós tem o poder de contribuir para um mundo livre da fome, onde todos tenham acesso a alimentos adequados e nutritivos.
                </p>
        </div>
    <!-- Botão (na verdade um link/anchor) para voltar ao topo, relacionado a função "returnTop" -->
    <a href="#banner" id="top">Voltar ao topo</a>
     <footer> <!-- Footer no final da página -->
        Lucas Liguori Vaz - RM 97907<br>
        Luigi Guimãrães La Pastina - RM 551269<br>
        Victor Maia Prates de Almeida - RM 550596<br>
        Antenise Alana Barbosa de Souza - RM552285<br>
    </footer>
</body>
</html>