<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importa o CSS externo -->
    <link rel="stylesheet" href="../css/stylesheet.css">
    <!-- Importa o Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <!-- Importa o JS externo -->
    <script src="../js/script.js"></script>

    <title>Global Solution: Página 2</title>
</head>
<body id="bodypag2">
     <header> <!-- Título, banner e barra de navegação -->
        <div id="banner">
            <h1 id="title">Global<br>Solution</h1>
        </div>
        <div id="nav">
            <a href="./pag1.html">⬅  Combater a fome:<br>Um chamado à solidariedade</a>
            <a href="../index.html">🏠 Voltar a página principal</a>
            <a href="./pag3.html">Agricultura Sustentável:<br>Alimentação para Todos  ➡</a>
        </div>
    </header>
        <div class="post" id="postpag">
                <h2>
                    A Ameaça da Fome em Ascensão
                </h2>
                <h3>
                    A fome avançou rapidamente nos países mais pobres, segundo relatório de grupos de agricultura e alimentação da ONU
                </h3>
                <p>
                    A <b>fome</b> aumentou em todo o mundo nos últimos dois anos, e a situação não está perto de melhorar, aponta novo relatório de braços de agricultura, alimentação e saúde da Organização das Nações Unidas (ONU)
                    Entre 702 e 828 milhões de pessoas foram afetadas pela fome no mundo em 2021, segundo o estudo.
                    Os motivos para a piora no cenário incluem os problemas econômicos gerados pela pandemia. Se o combate à fome já era um desafio antes, a situação se intensificou com questões como o aumento da cotação de grãos e outros itens essenciais no mercado internacional, além dos gargalos na cadeia de suprimentos que têm gerado inflação em todo o mundo.
                    <br><br>
                    Abaixo vemos um gráfico com a porcentagem da população com insegurança alimentar.
                </p>
                <img src="../images/image1.jpg">
                <p>
                    Para além das pessoas com fome, a insegurança alimentar grave ou moderada também subiu e atinge uma em cada três pessoas no mundo (29% da população), um total de 2,3 bilhões de pessoas.
                    Só o grupo com insegurança alimentar grave é de 924 milhões de pessoas (12% da população mundial).
                    Se confirmado, o número será na prática um retrocesso aos patamares de 2015, quando foi lançado o objetivo de acabar com a fome e a insegurança alimentar até 2030.
                </p>
                <img src="../images/image2.jpg">
                <p>
                    Enquanto isso, no curto prazo, o cenário de fome no mundo pode ainda piorar com a guerra na Ucrânia e seus efeitos, diz o diretor executivo do Programa Mundial de Alimentos da ONU, David Beasley. Para ele, o mundo está diante de uma "catástrofe iminente".
                    O Brasil chegou a 15,4 milhões de pessoas em situação de insegurança alimentar grave, o equivalente a 7,3% da população no cálculo de prevalência da ONU.
                </p>
                <img src="../images/image3.jpg">
                <p>
                    A organização aponta que a situação vem piorando. Em 2014, quando o Brasil atingiu um de seus melhores patamares, a insegurança alimentar grave afetava 3,9 milhões de pessoas, ou 1,9% da população.
                    Se incluída também a população com insegurança alimentar moderada, são 61,3 milhões de pessoas, quase um terço da população brasileira (29%) sendo forçada a reduzir a alimentação algumas vezes durante o ano por falta de recursos.
                    A prevalência de subalimentação, no entanto, é usada até hoje pela ONU para definir o número de pessoas com fome no mundo - uma condição em que "o consumo habitual de alimentos de um indivíduo é insuficiente para fornecer a quantidade de energia dietética necessária para manter uma vida normal, ativa e saudável". 
                </p>
                <img src="../images/image4.jpg">
                <h3>
                    Qual é a diferença entre fome e insegurança alimentar?
                </h3>
                <!-- Carrossel, relacionado a função "carousel" -->
                <div class="carousel" id="carousel1">
                    <button onclick="carousel(1,false)" class="carouselButton" id="carousel1back">🡄</button>
                    <p class="carouselItemOn" id="carousel1item1">
                        A fome é definida pela ONU como "privação de comida", levando a "uma sensação desconfortável ou dolorosa causada pela energia insuficiente da dieta". No relatório, o termo fome é sinônimo de "má alimentação crônica" e medido pela prevalência de subalimentação (índice PoU, na sigla em inglês). 
                    </p>
                    <p class="carouselItemOff" id="carousel1item2">
                        A insegurança alimentar grave pode incluir algumas situações de fome durante o ano, indicando que as pessoas desse grupo viveram momentos em que "experimentaram fome e, no extremo, ficaram sem comida por um dia ou mais".
                    </p>
                    <p class="carouselItemOff" id="carousel1item3">
                        A insegurança alimentar moderada indica uma "falta de acesso consistente" aos alimentos. Nesse grupo, "as pessoas enfrentam incertezas sobre sua capacidade de obter alimentos e foram forçadas a reduzir, algumas vezes durante o ano, a qualidade e/ou quantidade de alimentos que consomem por falta de dinheiro ou outros recursos", segundo a ONU.
                    </p>
                    <button onclick="carousel(1,true)" class="carouselButton" id="carousel1next">🡆</button>
                </div>
        </div>
    <!-- Botão (na verdade um link/anchor) para voltar ao topo, relacionado a função "returnTop" -->
    <a href="#banner" id="top">Voltar ao topo</a>
     <footer> <!-- Footer no final da página -->
        Lucas Liguori Vaz - RM 97907<br>
        Luigi Guimãrães La Pastina - RM 551269<br>
        Victor Maia Prates de Almeida - RM 550596<br>
        Antenise Alana Barbosa de Souza - RM552285<br>
    </footer>
</body>
</html>