<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importa o CSS externo -->
    <link rel="stylesheet" href="../css/stylesheet.css">
    <!-- Importa o Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <!-- Importa o JS externo -->
    <script src="../js/script.js"></script>

    <title>Global Solution: Página 3</title>
</head>
<body id="bodypag3">
     <header> <!-- Título, banner e barra de navegação -->
        <div id="banner">
            <h1 id="title">Global<br>Solution</h1>
        </div>
        <div id="nav">
            <a href="./pag2.html">⬅  A Ameaça da Fome<br>em Ascensão</a>
            <a href="../index.html">🏠 Voltar a página principal</a>
            <a href="./pag4.html">Combatendo o Desperdício,<br>Alimentando o Mundo  ➡</a>
        </div>
    </header>
        <div class="post" id="postpag">
                <h2>
                    Agricultura Sustentável: Alimentação para Todos
                </h2>
                <p>
                    A ideia de uma ‘agricultura sustentável’ revela, antes de tudo, a crescente insatisfação com o status quo da agricultura moderna. Indica o desejo social de sistemas produtivos que, simultaneamente, conservem os recursos naturais e forneçam produtos mais saudáveis, sem comprometer os níveis tecnológicos já alcançados de segurança alimentar. Resulta de emergentes pressões sociais por uma agricultura que não prejudique o meio ambiente e a saúde. No debate público internacional, a ideia de ‘agricultura sustentável’ tem uma presença muito mais importante do que qualquer outra que lhe seja equivalente. Por exemplo, não há discussão sobre o que poderia vir a ser uma ‘indústria sustentável’. No máximo, pode-se perceber a emergência de um debate sobre a sustentabilidade do consumo, ainda muito restrito a pequenos círculos de especialistas.
                    <br><br>Qual seria então a razão desse destaque que a ‘agricultura sustentável’ mereceu na agenda das organizações internacionais, mesmo constituindo uma atividade tanto mais ‘residual’ quanto mais avança o processo de desenvolvimento? A resposta baseia-se em fato que não deveria ser tão esquecido como vem ocorrendo. Apesar de seus 10 mil anos, a agricultura permanece sendo a atividade humana que mais intimamente relaciona a sociedade com a natureza. Por mais que se esteja vivendo na ‘aurora de uma nova era’ – rotulada de pós-industrial, pós-moderna, ou pós-escassez – a verdade é que a humanidade continua muito longe de encontrar uma fonte da energia necessária à vida, que dispense o consumo das plantas e dos animais, como ocorre há 2 milhões de anos.
                    <br><br>Ou seja, por mais que venha a ser revolucionada a esfera da produção alimentar, essa importância singular da agricultura manter-se-á até que surja uma alternativa à transformação biológica de energia solar em nutriente. Além disso, em contraste com outros processos produtivos, a intervenção humana na agricultura não é realizada com o propósito de transformar matéria-prima. Nela, o trabalho humano visa regular as condições ambientais sob as quais as plantas e os animais crescem e se reproduzem, pois nesse processo, há um momento de transformação que se realiza por dinâmicas orgânico-naturais, e não pela aplicação do trabalho humano.
                    <br><br>Nos últimos duzentos anos, houve uma forte crença na capacidade do industrialismo realizar a missão histórica de transcender o caráter limitado e condicionado das formas anteriores de interação da sociedade com a natureza. Quase todos os grandes pensadores dos séculos XIX e XX mostraram-se muito otimistas sobre a possibilidade do industrialismo superar os chamados ‘limites naturais’. No entanto, são justamente esses limites naturais que, após dois séculos de rápido crescimento urbano-industrial, exigem a superação de práticas agrícolas que a sociedade tende a considerar vulneráveis e nocivas em demasia.
                    <br><br>Por outro lado, qualquer avaliação de desempenho das nações mais avançadas durante a segunda metade do séc. XX será forçosamente levada a constatar que a agricultura garantiu, às suas populações, um inédito grau de segurança alimentar. Foi só nos últimos trinta ou quarenta anos que amplos contingentes humanos de alguns países da América do Norte, Europa e Leste Asiático tiveram acesso a uma verdadeira abundância alimentar. A tal ponto que, hoje em dia, essas sociedades defrontam-se com os problemas de saúde causados por dietas pletóricas, enquanto o resto do mundo continua a conviver com a degeneração provocada pela fome. Simultaneamente, também tem sido nos países adiantados onde mais cresce a consciência sobre as distorções ambientais de seus sistemas de produção e consumo de alimentos.
                    <br><br>Ampla gama de manifestações sociais permite perceber uma ascendente preocupação com a salubridade alimentar, que tende a estar cada vez mais ligada à conservação dos recursos naturais explorados. E as pressões decorrentes já requerem novos métodos de produção que venham a reduzir os impactos ambientais e tenha forma simultânea uma maior produtividade do sistema agrícola, que atenda à demanda crescente de alimentos, mas utilizando os recursos naturais de maneira mais racional, respeitando o meio ambiente ao máximo e sendo justa com as pessoas que fazem parte do processo de produção, sendo assim indicadas algumas práticas importantes, como:
                </p>    
                    <ul>
                        <li>
                            Utilizar mais pesticidas naturais e menos produtos químicos que contaminam o solo, ar e água para o controle de pragas. 
                        </li>
                        <li>
                            Reaproveitamento de materiais, como por exemplo, criando sistemas que utilizem a água das chuvas para irrigação ou até mesmo utilizando containers marítimos como armazém de produtos.
                        </li>
                        <li>
                            Alternar a plantação de culturas na mesma terra para diminuir a degradação do solo e garantir uma produtividade maior.
                        </li>
                        <li>
                            Utilizar fontes de energia renováveis e limpas como a energia solar, biomassa e o biodiesel.
                        </li>
                        <li>
                            Optar pelo sistema de plantio direto para controle de erosão.
                        </li>
                        <li>
                            Criação de adubo por meio de compostagem, reduzindo custos e aumentando a variedade de adubos para as diferentes culturas.
                        </li>
                        <li>
                            Investimento em tecnologia voltada ao agronegócio, para aumento de produtividade e reaproveitamento de insumos e produtos agrícolas, de forma eficiente e segura para os trabalhadores, produtores e consumidores. Como por exemplo, tecnologias de infraestruturas e tráfegos, voltadas para a logística de distribuição rápida pós colheita.  
                        </li>
                        <li>
                            Não desmatar florestas para ampliar as áreas agrícolas.
                        </li>
                        <li>
                            Além de também respeitar as leis trabalhistas em favor dos trabalhadores do campo e investir em capacitação profissional.
                        </li>
                    </ul>
                <p>
                    Quando a produção de alimentos e fibras degrada a base de recursos naturais, a capacidade das gerações futuras de produzir e florescer diminui. Acredita-se que o declínio das civilizações antigas na Mesopotâmia, na região do Mediterrâneo, no sudoeste pré-colombiano dos EUA e na América Central tenha sido fortemente influenciado pela degradação dos recursos naturais de práticas agrícolas e florestais não sustentáveis. 
                    <br><br>Uma abordagem sustentável da agricultura busca utilizar os recursos naturais de forma que eles possam regenerar sua capacidade produtiva e também minimizar os impactos nocivos nos ecossistemas, na 26ª Conferência das Nações Unidas sobre Mudanças Climáticas (COP26). Os governos de 45 países se comprometeram a tomar medidas para alcançar uma agricultura e uma gestão do solo mais natural e sustentável, medidas que terão impacto especial na América Latina, na África e na Ásia.
                    <br><br>Segundo a EMBRAPA – Empresa Brasileira de Pesquisa Agropecuária –, a agricultura brasileira tem avançado de forma segura rumo à sustentabilidade ao longo das últimas décadas. O Brasil tem feito o uso de alternativas de produção sustentável como Agricultura Orgânica, a Produção Integrada Agropecuária, a Produção Agroflorestal e a Integração Lavoura-Pecuária-Floresta. Ocupando a décima posição entre países com maior extensão de terras voltadas aos orgânicos. 
                </p>
        </div>
    <!-- Botão (na verdade um link/anchor) para voltar ao topo, relacionado a função "returnTop" -->
    <a href="#banner" id="top">Voltar ao topo</a>
     <footer> <!-- Footer no final da página -->
        Lucas Liguori Vaz - RM 97907<br>
        Luigi Guimãrães La Pastina - RM 551269<br>
        Victor Maia Prates de Almeida - RM 550596<br>
        Antenise Alana Barbosa de Souza - RM552285<br>
    </footer>
</body>
</html>