<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importa o CSS externo -->
    <link rel="stylesheet" href="../css/stylesheet.css">
    <!-- Importa o Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <!-- Importa o JS externo -->
    <script src="../js/script.js"></script>

    <title>Global Solution: Página 4</title>
</head>
<body id="bodypag4">
     <header> <!-- Título, banner e barra de navegação -->
        <div id="banner">
            <h1 id="title">Global<br>Solution</h1>
        </div>
        <div id="nav">
            <a href="./pag3.html">⬅  Agricultura Sustentável:<br>Alimentação para Todos</a>
            <a href="../index.html">🏠 Voltar a página principal</a>
            <a></a>
        </div>
    </header>
        <div class="post" id="postpag">
                <h2>
                    Combatendo o Desperdício, Alimentando o Mundo
                </h2>
                <p>
                    Aproximadamente um terço de toda comida produzida no planeta é desperdiçada, isso equivale a cerca de 5 trilhões de reais por ano, e em outra perspectiva, o suficiente para alimentar 2 bilhões de pessoas, oque é o dobro da quantidade pessoas estimadas em estar em estado de desnutrição. Pensando assim, se de alguma forma 50% da comida desperdiçada mundialmente fosse usada como alimento, a humanidade teria comida o suficiente para alimentar toda a população mundial, mas como qualquer problema grave diluído em dados simples, é muito mais complexo do que isso, o principal fator que não estamos levando em consideração é onde e como essa comida é desperdiçada?
                    <br><br>Onde ocorre o desperdício não é uma resposta simples, depende muito de onde estamos analisando, em países desenvolvidos mais de 40% desse desperdício ocorre por parte da venda (mercados, padarias e restaurantes) e dos consumidores (deixar comida que comprou estragar ou simplesmente jogar fora), esse dado é explicado por esses países possuírem uma rede de produção e logística mais eficiente que por sua vez evita desperdiço nesse escopo. Países subdesenvolvidos, que devem ser o foco quando falamos no problema de segurança alimentar, tem um foco de desperdiço menor na parte de venda e consumo e muito maior em questão de pós-produção (processamento e logística), cerca de 40% da comida produzida é perdida nessa etapa do processo.
                    <br><br>Como podemos melhorar a eficiência em processamento de alimentos dos países subdesenvolvidos? Aqui estão algumas etapas importantes desses processos e como eles podem gerar desperdício:
                </p>
                    <ul>
                        <li>
                    <b>Separação</b>: É de fato a primeira etapa pós-produção, onde partes adequadas para alimento são separadas de subprodutos não próprios para consumo: grãos são separados das plantas por exemplo. As vezes essa etapa acontece depois, como por exemplo em carnes: só depois de chegar no local de venda ou processamento os ossos são retirados.
                    <br>Separação feita manualmente normalmente já diminui o desperdício nessa etapa, mas quando entramos no assunto de separação automática depende muito da eficiência da tecnologia usada.
                        </li>
                        <li>
                        <b>Processamento</b>: Vários alimentos não chegam no consumidor da maneira que são produzidos, trigo geralmente é vendido como farinha por exemplo, a maioria é embalado e muitos são refinados ou passam por algum tipo de tratamento antes de serem transportados como produto final.
                        </li>
                    </ul>
                <p>
                    Novamente, a automatização desse processo pode gerar desperdício dependendo da eficiência da tecnologia utilizada.
                    <br><br>Como podemos ver nas etapas anteriores, o maior problema é a <b>ineficiência na automação</b> dos processos, não entenda errado, as tecnologias mais eficientes já existem (é assim que países desenvolvidos tem menor desperdício nessas etapas), e por mais que acabam gerando mais lucro no final, são menos utilizadas em países subdesenvolvidos pelo grande custo de investir nestas, principalmente por elas serem produzidas principalmente fora desses países, importar essa tecnologia acaba como um investimento de prazo longo demais (o lucro que ela gera demora muito para pagar o próprio preço).
                    <br><br>Agora vamos falar sobre a logística: se trata principalmente do armazenamento e transporte desses produtos em qualquer etapa antes chegar no vendedor final, aqui estão essas etapas em mais detalhes, e como elas podem gerar desperdício:
                </p>
                    <ul>
                        <li>
                            <b>Armazenamento</b>: Em todas etapas do processo os alimentos precisam ser armazenados, alguns como grãos possuem menos complicações em relação a essa etapa, mas outros alimentos precisam ser mantidos frescos até serem consumidos, esse tipo de alimento não só demanda um processo rápido até chegar no consumidor final mas também condições de armazenamento corretas, como refrigeração por exemplo.
                            <br>
                            O armazenamento pode gerar desperdícios em três maneiras principais:
                            <ul>
                                <li>
                                    Falta de espaço: nesse caso a capacidade do estoque está em lotação máxima, isso pode acontecer por falta de planejamento ou até atrasos nas próximas etapas, isso pode levar a perda de grandes quantidades de alimentos que não vão poder ser armazenados.
                                </li>
                                <li>
                                    Armazenamento impróprio: alimentos guardados de forma incorreta podem estragar muito rapidamente, isso pode ser falta de refrigeração ou temperatura incorreta, muita humidade ou até alimentos que não devem ser armazenados juntos.
                                </li>
                                <li>
                                    Armazenamento longo demais: muitos alimentos estragam rapidamente e precisam ser consumidos em alguns dias mesmo guardados em condições corretas, a baixa eficiência da logística e do processamento pode levar a muitas perdas.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <b>Transporte</b>: Essa etapa final possui os mesmos problemas que armazenamento em escalas menores, se esse alimento for transportado por caminhões, eles devem seguir as mesmas especificações de estoque, isso pode ser realizado por caminhões frigoríficos  por exemplo.
                        </li>
                    </ul>
                <p>
                    Além desses problemas surgem outros específicos do transporte, problemas de logística pode levar a todo alimento não ser transportado a tempo, e muitos desses problemas levam em consideração fatores externos como distancia e qualidade do sistema rodoviário.
                    <br><br>Muitos produtores encontram problemas com transporte devido a quantidade de variáveis nessa etapa e o investimento necessário para que ele ocorra de forma eficiente.
                </p>
        </div>
    <!-- Botão (na verdade um link/anchor) para voltar ao topo, relacionado a função "returnTop" -->
    <a href="#banner" id="top">Voltar ao topo</a>
     <footer> <!-- Footer no final da página -->
        Lucas Liguori Vaz - RM 97907<br>
        Luigi Guimãrães La Pastina - RM 551269<br>
        Victor Maia Prates de Almeida - RM 550596<br>
        Antenise Alana Barbosa de Souza - RM552285<br>
    </footer>
</body>
</html>